* {
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #ece4e4;
    background-color: #333;
}

main {
    padding: 1rem;
    max-width: 900px;
    margin: auto;
}

/* Flexbox navigation */
.navbar {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    background: #222;
    padding:  1rem;
    margin: 0;
}

.navbar li {
    margin: 0 20px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding-left: 15px;
}

/* Responsive images */
img {
    max-width: 100%;
    height: auto;
}